.navBar{
    background-color: rgba(0, 0, 0, 0.301);
}
.dropdown-menu{
    background-color: rgba(253, 253, 253, 0.455)!important;
}
.dropdown-item:hover{
    background-color: rgba(253, 253, 253, 0.455)!important;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(253, 249, 249)!important;
}
.price-container,
.price-container:before,
.price-container:after,
.price-container .price {
	height: 5em;
	width: 5em;
	background: #d32f2f;
}

.price-container:before,
.price-container:after {
	content: "";
	position: absolute;
}

.price-container {
	margin: 20px auto; /* Centering for demo */
	position: relative; /* Context */
	top: 0;
	left: 0;
	background-color: #e53935;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	transform-origin: center;
	transition: 0.3s all ease-out;
}

.price-container:before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(22.5deg);
	  -moz-transform: rotate(22.5deg);
	   -ms-transform: rotate(22.5deg);
	    -o-transform: rotate(22.5deg);
	       transform: rotate(22.5deg);
	z-index: 1;
}

.price-container:after {
	top: 0;
	left: 0;
	-webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	   -ms-transform: rotate(-45deg);
	    -o-transform: rotate(-45deg);
	       transform: rotate(-45deg);
	background-color: #e53935;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.price-container .price {
	padding: 1em 0em;
	height: 3em; /* height minus padding */
	position: absolute;
	bottom: 0;
	right: 0;
	-webkit-transform: rotate(-22.5deg);
	  -moz-transform: rotate(-22.5deg);
	   -ms-transform: rotate(-22.5deg);
	    -o-transform: rotate(-22.5deg);
	       transform: rotate(-22.5deg);
	z-index: 1; /* important so the text shows up */
}

.price-container .price span {
  position: relative;
  z-index: 100;
  display: block;
  text-align: center;
  color: #fff;
  font: 1.5em/1.4em Sans-Serif;
  text-transform: uppercase;
}

.price-container .price span.number {
  font-weight: bold;
  font-size: 1.625em;
  line-height: .9em;
  color: #ffebee;
}

.price-container:hover {
	transform: matrix3d(1.058,0.38,-0.38,0,-0.38,1.058,-0.38,0,0.38,0.38,0.8464,0,0,0,0,1);
-webkit-transform: matrix3d(1.058,0.38,-0.38,0,-0.38,1.058,-0.38,0,0.38,0.38,0.8464,0,0,0,0,1);
}
.navbar-toggler{
    background-color: rgba(249, 247, 247, 0.536);
}
@media only screen and (max-width: 990px){
    .navbar-collapse {
        background-color: #000000b6;
    }
}
.dropdown-menu{
width: 10vw;
background-color: rgba(253, 253, 253, 0.455) !important;
overflow: auto;
height:50vh;
}
	